html, body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height : 100%;
  color: #f3f3f4;
  overflow: hidden; /* browser zoom can make this is necessary sometimes */
}

canvas {
  position: absolute;
}
